.blue {
	background-color:blue
}
.red {
	background-color:red
}
.yellow{
	background-color:yellow
}
.green{
	background-color:green
}
.black{
	background-color:black
}
.white{
	background-color:white
}
.orange{
	background-color:orange
}
.circle{
			border-radius:50%;
			width:500px;
			height:500px;
}
